
.pad-bank {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  margin: auto;
}

.drum-pad {
  width: 30%;
  height: 60px;
  margin: 1%;
  background-color: darkgrey;
  padding: 0%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.display {
  width: 500px;
  margin: auto;
  text-align: center;
}